.catalog {
  padding: 130px 0;
  align-items: center;
  text-align: center;
}

.catalog-inner {
  @include inner;
}


.catalog-tittle {
  @include section-title;
  margin-bottom: 97px;

  @media (max-width: $tablet-max) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 60px;
  }
}

.catalog-wrap {
  display: flex;
  margin: 0 -10px;

  @media (max-width: $tablet-max) {
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-max) {

  }
}

.catalog-list {
  position: relative;
  flex-basis: 25%;
  @media (max-width: $tablet-max) {
    flex-basis: 50%;
  }

  @media (max-width: $mobile-max) {
    flex-basis: 100%;
  }
}

.catalog-item {
  display: inline-block;
  padding: 0 10px;
}

.catalog-media {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.catalog-item-desc {
  background: rgba(0, 0, 0, 0.4);
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  width: 100%; //Вопрос???????
  color: $color-light;
  font-size: 24px;
  line-height: 33px;
}
