.footer {
padding: 47px 0;
background-color: $color-dark;
color: $color-light;


@media (max-width: $mobile-max) {
padding: 30px 0 35px 0;
}
}

.footer-inner {
  @include inner;
}

.footer-wrap {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-max) {
    flex-direction: column;
  }

}

.footer-logo {
  @include logo;

  @media (max-width: $mobile-max) {
    margin-bottom: 30px;
  }
}


.footer-phone {
  text-decoration: none;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: $color-light;
}
