.form {
  display: flex;
  align-items: flex-end;
  margin: 0 -10px;
  text-align: center;

  @media (max-width: $tablet-max) {
    flex-wrap: wrap;;
  }

  @media (max-width: $mobile-max) {
  display: block;
  }

}

.form-field {
  flex-basis: 33.33%;
  padding: 0 10px;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-max) {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}

.form-label {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 27px;
  color: $color-dark;
}

.form-input {
  width: 100%;
  padding: 35px 30px;
  font-family: $font;
  font-size: 28px;
  line-height: 34px;
  color: $color-dark;
  border: none;
  border-radius: 6px;
}

.form-field-button {

  @media (max-width: $tablet-max) {
  flex-basis: 100%;
  }
}
