.nav {

  @media (max-width: $mobile-max) {
    display: none;
  }

  ul{
    display: flex;
    list-style: none;
  }

  li {
    margin-left: 10px;
  }

  a {
  display: inline-block;
  text-decoration: none;
  padding: 33px 25px;
  color: $color-light;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  &:hover {
    background-color: $color-accent;
   }

  }




}
