.promo {
  text-align: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.4), rgba(51, 51, 51, 0.4)), url(/images/promo-bg.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  @media (max-width: $tablet-max) {
    background-position: center right;
  }

  @media (max-width: $mobile-max) {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.4), rgba(51, 51, 51, 0.4)), url(/images/promo-bg-mobile.jpg);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
  }

}

.promo-inner {
  @include inner;
  padding-top: 200px;
  padding-bottom: 214px;

  @media (max-width: $tablet-max) {
  padding-top: 180px;
  padding-bottom: 190px;
  }

  @media (max-width: $mobile-max) {
    padding-top: 110px;
    padding-bottom: 100px;
  }
}

.promo-tittle {
  margin-bottom: 100px;
  color: $color-light;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;

  @media (max-width: $tablet-max) {
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
  font-size: 32px;
  line-height: 44px;
  }

}
